<div class="container text-center">
    <h3 className="display-5">Search Weather data</h3>
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                <label for="type">Data Type</label>
                <select class="custom-select" (change)="change()" name="type" id="type" [(ngModel)]="type">
                    <option value="HISTORIC">Historic</option>
                    <option value="FORECAST">Forecast</option>
                </select>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="city">Cities</label>
                <select class="custom-select" (change)="change()" name="city" id="city" [(ngModel)]="city">
                    <option value="Horsens">Horsens</option>
                    <option value="Aarhus">Aarhus</option>
                    <option value="Copenhagen">Copenhagen</option>
                </select>
            </div>
        </div>
        <div class="col-sm-3">
            <label for="inputDateFrom">From</label>
            <input type="date" class="form-control" (change)="change()" name="inputDateFrom" id="inputDate" [(ngModel)]="from" placeholder=""/> 
        </div>
        <div class="col-sm-3">
            <label for="inputDateTo">To</label>
            <input type="date" class="form-control" (change)="change()" name="inputDateTo" id="inputDate" [(ngModel)]="to" placeholder=""/>
        </div>
    </div>
</div>
